.info {
    padding: 54px 64px 85px;
    margin: 0 auto;
    text-align: center;
    place-items: center;
}

.info__title {
    font-family: "IBMPlexSans";
    color: #191919;
    margin: 0;
    font-size: 36px;
    font-weight: 700;
    line-height: 130%;
}

.info__subtitle {
    font-family: "IBMPlexSans";
    color: #3397FF;
    margin: 8px 0 50px;
    font-size: 36px;
    font-weight: 500;
    line-height: 130%;
}

.info__list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 33px;
    margin-top: 40px;
}

.info__item {
    width: 414px;
    height: 227px;
    background-color: #3397FF;
    border-radius: 20px;
    padding: 0 30px 20px 40px;
    box-sizing: border-box;
}

.info__item-text {
    text-align: left;
    font-family: "IBMPlexSans";
    color: #ffff;
    margin: 0;
    font-size: 20px;
    font-weight: 500;
    line-height: 130%;
}

.info__item-img {
    margin-top: -32px;
    display: flex;
    justify-self: flex-start;
}

.info__catalog {
    display: flex;
    box-sizing: border-box;
    background-image: linear-gradient(to right bottom, #1e79d9, #185aa0);
    background-position: contain;
    background-size: 100%;
    border-radius: 20px;
    padding: 15px 40px 0 50px;
    margin: 50px auto 40px;
    max-width: 1313px;
    overflow: hidden;
}

.info__catalog-img {
    margin-bottom: -110px;
}

.info__catalog-text {
    font-family: "IBMPlexSans";
    padding-top: 40px;
    color: #ffff;
    margin: 0;
    font-size: 36px;
    font-weight: 400;
    line-height: 130%;
    width: 100%;
    text-align: left;
}

.info__catalog-button {
    display: flex;
    justify-self: flex-start;
    margin-top: 50px;
    box-sizing: border-box;
    background-color: #fff;
    border-radius: 20px;
    border: none;
    padding: 18px 55px 18px 75px;
    color: #3397FF;
    font-family: 'IBMPlexSans';
    font-size: 21px;
    font-weight: 400;
    line-height: 130%;
    background-image: url('../../images/2.0/bxs-book.svg');
    background-repeat: no-repeat;
    background-position: 40px center;
}

.info__catalog-button:hover {
    box-sizing: border-box;
    cursor: pointer;
    color: #fff;
    background-color: #1b76d3;
    background-image: url('../../images/2.0/bxs-book-white.svg');
    outline: 2px solid white;


}

@media screen and (max-width: 1281px) {
    .info__catalog-button {
        margin-top: 15px;
    }
}

@media screen and (max-width: 1080px) {
    .info__catalog {
        padding-bottom: 30px;
    }

    .info__catalog-img {
        width: 320px;
        height: 220px;
        align-self: center;
        margin-bottom: 0;
    }
}

@media screen and (max-width: 760px) {
    .info {
        padding: 30px;
    }

    .info__catalog {
        padding: 20px;
    }

    .info__catalog-text {
        box-sizing: border-box;
        font-size: 20px;
        padding: 10px 20px 10px 10px;
        line-height: 1.3;
    }

    .info__catalog-button {
        font-size: 16px;
        padding: 15px 35px 15px 45px;
        background-position: 20px center;
        text-align: center;

    }
}

@media screen and (max-width: 560px) {

    .info {
        padding: 30px 18px 0;
    }

    .info__list {
        gap: 20px;
    }

    .info__title {
        text-align: left;
        font-size: 32px;
        line-height: 1;
    }

    .info__subtitle {
        display: block;
        font-size: 20px;
        text-align: left;
        width: 90%;
        margin-left: -30px;
        margin-top: 20px;
        margin-bottom: 10px;
        line-height: 1;
    }

    .info__item {
        width: 340px;
        height: auto;
        padding: 0 30px 20px 30px;

    }

    .info__item-img {
        width: 80px;
        margin-top: -20px;
    }

    .info__item-text {
        font-size: 16px;
        letter-spacing: 1;
        padding-bottom: 10px;
    }

    .info__catalog {
        display: flex;
        flex-direction: column-reverse;
    }

    .info__catalog-button {
        margin: 20px auto 0;
        width: 100%;
        border-radius: 12px;
        font-size: 16px;
        background-position: 50px center;
        place-content: center;
    }
}