@keyframes slideRight {
    0% {
        right: -50%;
    }

    100% {
        right: 1.8%;
    }
}

.my-input {
    position: absolute;
    width: 92%;
    top: 80px;
    display: flex;
    padding: 30px 30px 20px 60px;
    background-color: #FFFFFF;
    z-index: 2;
    gap: 15px;
    animation: slideRight 0.5s ease-in-out forwards;
}

.input__input-group {
    background-color: #FFFFFF;
    width: 100%;
    opacity: 0.9;
    filter: blur(90%);
    border-radius: 12px;
    border: 1px solid #C4C4C4;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1px;
    align-items: center;
}

.input__input {
    padding: 12px;
    width: 90%;
    border: none;
    outline: none;
    border-radius: 12px;
}

.input__input::placeholder {
    font-size: 14px;
    font-weight: 400;
    line-height: 18.2px;
    text-align: left;
}

.input__input-button {
    width: 24px;
    height: 24px;
    background-color: inherit;
    border: none;
    outline: none;
    background-image: url(../../../images/cross-grey.svg);
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 15px;
}

.input__submit {
    background-color: #1347FF;
    color: #ffffff;
    border-radius: 12px;
    border: none;
    height: 48px;
    width: 120px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 400;
    line-height: 20.8px;
}

.input__close {
    background-color: inherit;
    color: #ffffff;
    border: none;
    outline: none;
    cursor: pointer;
    color: #1347FF;
    font-size: 16px;
    font-weight: 400;
    line-height: 20.8px;
    padding: 0;
}