@font-face {
  font-family: "IBMPlexSans";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(./IBMPlexSans-Regular.ttf) format("ttf");
  src: url(./IBMPlexSans-Regular.woff) format("woff");
  src: url(./IBMPlexSans-Regular.woff2) format("woff2");
}

@font-face {
  font-family: "IBMPlexSans";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(./IBMPlexSans-Medium.ttf) format("ttf");
  src: url(./IBMPlexSans-Medium.woff) format("woff");
  src: url(./IBMPlexSans-Medium.woff2) format("woff2");
}

@font-face {
  font-family: "IBMPlexSans";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(./IBMPlexSans-Bold.ttf) format("ttf");
  src: url(./IBMPlexSans-Bold.woff) format("woff");
  src: url(./IBMPlexSans-Bold.woff2) format("woff2");
}
