.popup-filter__content {
    box-sizing: border-box;
    background-color: #fefefe;
    padding: 22px 24px 20px 64px;
}

.popup-filter__section {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 10px;
    row-gap: 25px;
    padding-bottom: 10px;
    margin-top: 30px;
}

.popup-filter__close-button {
    background-image: url(../../images/Icon-close-cross.svg);
    background-repeat: no-repeat;
    min-width: 20px;
    min-height: 20px;
    color: #191919;
    float: right;
    background-color: inherit;
    border: none;
    margin-top: -27px;
    margin-right: 5px;
}

.popup-filter__close-button:hover,
.popup-filter__close-button:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.popup-filter__subtitle {
    color: #191919;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 130%;
    margin-top: 36px;
}

.popup-filter__engine-checkbox {
    display: none;
}

.popup-filter__partners-checkbox {
    display: none;
}

.popup-filter__label-span {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    padding: 8px 15px;
    max-height: 30px;
    box-sizing: border-box;
    border-radius: 100px;
    background-color: #E8E8E8;
    cursor: pointer;
}

.popup-filter__label-span:hover {
    background-color: #C4C4C4;
}

.popup-filter__partners-checkbox:checked+.popup-filter__label-span {
    background-color: #191919;
    color: white;
}

.popup-filter__item {
    margin-top: 15px;
}

.popup-filter__engine-checkbox:checked+.popup-filter__label-span {
    background-color: #191919;
    color: white;
}

.popup-filter__submit-button {
    margin: 70px 0 0;
    background-color: #1347FF;
    border-radius: 4px;
    border: none;
    height: 48px;
    width: 92%;
    border-radius: 12px;
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
}

/* Стили для кнопки переключения */

.popup-filter__toggle {
    margin-top: 20px;
    position: relative;
    display: inline-block;
    width: 42px;
    height: 25px;
}

.popup-filter__toggle .popup-filter__input-slider {
    opacity: 0;
    width: 0;
    height: 0;
}

/* Стили для внешнего вида бегунка */

.popup-filter__slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #E8E8E8;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px;
}

.popup-filter__slider-title {
    color: #191919;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
}

.popup-filter__slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 2.5px;
    bottom: 3px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
}

.popup-filter__input-slider:checked+.popup-filter__slider {
    background-color: #1347FF;
}

.popup-filter__input-slider:focus+.popup-filter__slider {
    box-shadow: 0 0 1px #1347FF;
}

.popup-filter__input-slider:checked+.popup-filter__slider:before {
    -webkit-transform: translateX(16px);
    -ms-transform: translateX(16px);
    transform: translateX(16px);
}

.popup-filter__slider.round {
    border-radius: 34px;
}

.popup-filter__slider.round:before {
    box-sizing: border-box;
    border-radius: 50%;
}

.popup-filter__slider-title {
    margin-left: 10px;
}

.popup-filter__partners-list {
    list-style: none;
    padding: 0;
    box-sizing: border-box;
}

@media screen and (max-width: 1024px) {
    .popup-filter__content {
        padding: 22px 0 20px 38px;
    }

    .popup-filter__subtitle {
        margin-top: 28px;
        margin-bottom: 6px;
    }

    .popup-filter__label-span {
        padding: 6px 9px;
        font-size: 14px;
        line-height: 18.2px;

    }

    .popup-filter__item {
        margin-top: 5px;
    }

    .popup-filter__submit-button {
        margin: 47px 0 0;
    }
}


@media screen and (max-width: 760px) {
    .popup-filter__content {
        z-index: 3;
        position: fixed;
        box-sizing: border-box;
        background-color: #fff;
        padding: 65px 16px 20px 16px;
        border-radius: 0;
        overflow: auto;
        min-width: 100vw;
        animation: slideUP 0.5s ease-in-out forwards;
        height: 100%;
        top: 30px;
    }

    .popup-filter__subtitle {
        margin-bottom: 0;
        margin-top: 37px;
    }

    .popup-filter__label-span {
        padding: 9px 14px;
        font-size: 16px;
        font-weight: 400;
        line-height: 20.8px;
    }

    .popup-filter__item {
        margin-top: 13px;
    }

    .popup-filter__submit-button {
        margin: 17vh 0 0;
        width: 100%;
    }

}