.repair-kit {
    margin-top: 30px;
}

.repair-kit__item {
    font-size: 16px;
    font-weight: 500;
    line-height: 20.8px;
    color: #191919;
    text-decoration: none;
    cursor: pointer;
    margin-bottom: 30px;
}

.repair-kit__description {
    font-size: 16px;
    font-weight: 400;
    line-height: 20.8px;
    color: #191919;
}