.header {
    background-color: #191919;
    width: 100vw;
    min-width: 375px;
    position: fixed;
    top: 0;
    z-index: 3;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

.header__main {
    display: flex;
    gap: 15px;
    align-items: center;
    padding-left: 64px;
}

.header__title {
    color: #ffff;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    padding-right: 40px;
}

.header__logo {
    height: 30px;
    width: 30px;
    background-color: gray;
    border-radius: 50%;
}

.header__nav-burger {
    background-color: inherit;
    background-image: url('../../images/BurgerMenuButton.svg');
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    border: none;
    margin-top: 10px;
    margin-right: 16px;
    cursor: pointer;
}

.header__item {
    padding-right: 50px;
    text-decoration: none;
    color: #ffff;
    font-size: 16px;
    font-weight: 400;
    line-height: 20.8px;
    text-align: center;
}

.header__item-catalog {
    padding-right: 30px;
    text-decoration: none;
    color: #ffff;
    font-size: 16px;
    font-weight: 400;
    line-height: 20.8px;
    text-align: center;
}

.header__nav {
    padding: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
}

@media screen and (max-width: 1024px) {
    .header__main {
        padding-left: 36px;
    }

    .header__item {
        padding-right: 30px;
    }

    .header__nav {
        padding-right: 6px;
    }
}

@media screen and (max-width: 760px) {

    .header__main {
        padding-left: 16px;
    }

    .header__title {
        font-size: 16px;
        line-height: 130%;
    }

    .header__logo {
        height: 24px;
        width: 24px;
    }
}