@import url(../fonts/fonts.css);

body {
    font-family: 'IBMPlexSans', Arial, sans-serif;
    background-color: white;
    min-width: 375px;
    margin: 0 auto;
    position: relative;
    flex-grow: 1;
}

main {
    flex-grow: 1;
    flex-shrink: 0;
    margin: 0 auto;
    min-width: 375px;


}

@media screen and (min-width: 750px) {
    [class*='ground-pane'] {
        filter: none;
    }
}

[class*='balloon'] {
    border-radius: 20px;
}

[class*='gotoymaps'] {
    display: none !important;
}

[class*='gototaxi'] {
    display: none !important;
}

[class*='gototech'] {
    display: none !important;
}

[class*="copyrights-pane"] {
    display: none !important;
}

.bunner {
    width: 100%;
    height: 20%;
    background-color: #E8E8E8;
    margin: auto 0;
    padding-top: 80px;
}

.title {
    border-bottom: 1px solid #E8E8E8;
    color: #191919;
    margin-left: 0;
    padding-left: 64px;
    margin-bottom: 0;
    padding-bottom: 25px;
    font-size: 64px;
    font-weight: 700;
    line-height: 89.6px;
    letter-spacing: -0.02em;
}

.partners {
    box-sizing: border-box;
    min-width: 32%;
    padding: 20px 0 8px 0;
    position: relative;
}

.partners__filter-buttons {
    display: flex;
    flex-direction: row;
    padding-right: 34px;
    padding-left: 64px;
    gap: 20px;
    padding-bottom: 10px;
}

.buttons__box-shadow {
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.03), 0px 3px 3px 0px rgba(0, 0, 0, 0.03);

}

.filter-buttons__city-button {
    position: relative;
    display: block;
    box-sizing: border-box;
    border: 1px solid #C4C4C4;
    width: 216px;
    height: 37px;
    padding: 4px 8px;
    border-radius: 8px;
    background-color: inherit;
    text-align: left;
    color: #191919;
    cursor: pointer;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
}

.filter-buttons__delete-city {
    display: block;
    position: absolute;
    background-color: inherit;
    border: none;
    top: 2%;
    right: 5%;
    font-size: 30px;
    font-weight: 400;
    color: #858582;
    cursor: pointer;
    width: 20px;
    height: 20px;
    padding: 0;
    line-height: 1;
    z-index: 2;
}

.filter-buttons__button {
    background-image: url('../images/Icon-filter.svg');
    background-repeat: no-repeat;
    background-position: 5% 50%;
    border: 1px solid #C4C4C4;
    width: 136px;
    height: 37px;
    padding: 4px 8px 4px 30px;
    border-radius: 8px;
    background-color: inherit;
    color: #191919;
    cursor: pointer;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
}

.filter-buttons__button:hover {
    cursor: pointer;
    background-color: #aaa;
}

.filter-buttons__button-item {
    padding-left: 10px;
    color: #1347FF;
}

.partners__container {
    box-sizing: border-box;
    max-height: 93vh;
    overflow-y: scroll;
    overflow-x: hidden;
}


.filters-checked__partners {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    margin: 0 4px 0 0;
    padding: 0;
    flex-direction: row;
    gap: 4px;
}

.filters-checked {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    margin: 0 10px 10px;
}


/* MAP */


.map__container {
    height: 100vh;
    width: 80vw;
    margin: 0;
    position: relative;
}

.map {
    display: flex;
    flex-direction: row;
    position: relative;
    height: 100vh;
    overflow-y: auto; 
}

.map__filters {
    display: flex;
    flex-direction: row;
    gap: 10px;
    position: absolute;
    z-index: 2;
    flex-wrap: wrap;
}


.map__button {
    position: fixed; 
    z-index: 3;
    bottom: 30vh;
    left: 20px;
    background-color: #191919;
    height: 35px;
    background-image: url('../images/IconListPartnersWhite.svg');
    background-repeat: no-repeat;
    background-position: 5% 50%;
    padding: 4px 8px 4px 38px;
    border-radius: 8px;
    border: none;
    color: var(--White, #FFF);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
}

/* ballon */

.ballon {
    max-width: 220px;
    padding: 2px 0 2px 2px;
}

.ballon__header {
    color: #1347FF;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 130%;
    margin: 0;
}

.balloon__text {
    color: #4A4A4A;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
    margin: 4px 0 0 0;
}

.ballon__status {
    display: flex;
    align-items: center;
}

.baloon__status-dot {
    margin-top: 4px;
    margin-right: 4px;
    background-color: #2D9F5A;
    height: 6px;
    width: 6px;
    border-radius: 50%;
    align-self: center;
}

/* Partners Popup */

.popup-partners {
    box-sizing: border-box;
    position: fixed;
    z-index: 2;
    left: 0;
    bottom: 0;
    width: 100vw;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.1);
    overflow: hidden;
}


.popup-partners__header{
    border-bottom: 1px solid  #E8E8E8;
}


.popup-partners__container {
    max-height: 80vh;
    box-sizing: border-box;
    background-color: #fefefe;
    padding: 0;
    border-radius: 10px;
    bottom: -5px;
    overflow: auto;
    bottom: 0;
    position: absolute;
    min-width: 100vw;
    animation: slideUP 0.5s ease-in-out forwards;
    display: flex;
    flex-direction: column;
}

.popup-partners__close-button {
        color: #191919;
        float: right;
        font-size: 28px;
        font-weight: normal;
        background-color: inherit;
        border: none;
        padding: 14px 20px;
    }

.popup-partners__content {
    border-top: 1px solid #E8E8E8;
    overflow: scroll;
}

@media screen and (max-width: 1024px) {
    .title {
        color: #191919;
        font-size: 52px;
        font-style: normal;
        font-weight: 700;
        line-height: 140%;
        letter-spacing: -1.04px;
        padding-left: 36px;
        padding-bottom: 16px;
        margin-top: 16px;
    }

    .partners {
        padding: 16px 0 16px 0;
    }

    .partners__filter-buttons {
        padding-left: 36px;
    }

    .filter-buttons__delete-city {
        top: 10%;
        right: 5%;
    }
}


@media screen and (max-width: 760px) {
    .bunner {
        padding-top: 40px;
    }

    .title {
        font-size: 36px;
        font-style: normal;
        line-height: 100%;
        letter-spacing: -0.72px;
        margin-top: 24px;
        padding-bottom: 24px;
        padding-left: 16px;
    }

    .map__container {
        width: 100vw;
        min-width: 375px;
    }

    .map {
        height: 85vh;
    }

    .map__filters {
        top: 50px;
        padding-left: 16px;
    }

    .partners__filter-buttons {
        position: absolute;
        z-index: 1;
        display: flex;
        flex-direction: row;
        padding-right: 24px;
        padding-left: 16px;
        gap: 20px;
    }

    .partners {
        min-width: 0;
        max-width: 0;
    }

    .filter-buttons__city-button {
        background-color: white;
        box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.03), 0px 3px 3px 0px rgba(0, 0, 0, 0.03);
        border: none;
    }

    .filter-buttons__button {
        background-color: white;
        box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.03), 0px 3px 3px 0px rgba(0, 0, 0, 0.03);
        border: none;
    }
}

@media screen and (max-width: 400px) {
    .partners__filter-buttons {
    padding-right: 5px;
        padding-left: 5px;
        gap: 10px;
    }
}