.catalog-filters {
    padding: 60px 30px 35px 60px;
}

.catalog-filters__engine {
    display: flex;
    flex-direction: row;
    gap: 20px;
    flex-wrap: wrap;
    margin-bottom: 30px;
}

.catalog-filters__engine-checkbox {
    display: none;
}

.catalog-filters__engine-label {
    border: 1px solid #C4C4C4;
    background-color: inherit;
    border-radius: 8px;
    padding: 10px 22px;
    color: #191919;
    font-family: "IBMPlexSans";
    font-size: 16px;
    font-weight: 400;
    line-height: 20.8px;
    cursor: pointer;
}

.catalog-filters__engine-label:hover {
    background-color: #C4C4C4;
}

.catalog-filters__engine-checkbox:checked+.catalog-filters__engine-label {
    background-color: #191919;
    color: #FFFFFF;
}



.catalog-filters__engine-checkbox:checked .catalog-filters__label-span {
    background-color: #191919;
    color: white;
}



.catalog-filters__group {
    display: flex;
    flex-direction: row;
    gap: 20px;
    flex-wrap: wrap;
}

.catalog-filters__group-checkbox {
    display: none;
}

.catalog-filters__group-label {
    font-family: "IBMPlexSans";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    padding: 8px 15px;
    box-sizing: border-box;
    border-radius: 100px;
    background-color: #E8E8E8;
    cursor: pointer;
}

.catalog-filters__group-label:hover {
    background-color: #C4C4C4;
}

.catalog-filters__group-checkbox:checked+.catalog-filters__group-label {
    background-color: #191919;
    color: #FFFFFF;
}

@media screen and (max-width: 1024px) {
    .catalog-filters {
        padding: 50px 30px 30px 38px;
    }

    .catalog-filters__engine {
        gap: 15px;
        margin-bottom: 30px;
    }

    .catalog-filters__engine-label {
        padding: 10px 20px;
    }
}

@media screen and (max-width: 760px) {
    .catalog-filters {
        padding: 10px 0 25px;
    }
}