.footer {
  background-color: #191919;
  padding: 48px 64px;
  display: flex;
}

.footer__logo {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding-right: 11.1%;
}

.footer__logo-img {
  height: 38px;
  width: 301px;
}

.footer__logo-connect {
  height: 30;
  width: 172;
  margin-bottom: 5px;
}

.footer__logo-txt {
  color: #ffff;
  font-family: 'IBMPlexSans';
  font-size: 16px;
  font-weight: 400;
  line-height: 130%;
  text-align: right;
  margin: 0;
}

.footer__logo-tg {
  background-image: url('../../images/2.0/tg.svg');
  background-repeat: no-repeat;
  background-position: left center;
  color: #ffff;
  font-family: 'IBMPlexSans';
  font-size: 14px;
  font-weight: 400;
  line-height: 130%;
  text-align: right;
  padding-left: 5px;
  text-decoration: none;
}

.footer__connect {
  color: #ffff;
  font-family: 'IBMPlexSans';
  font-size: 14px;
  font-weight: 400;
  line-height: 150%;
  width: 15%;
  margin-left: -20px;
  text-decoration: none;
}

.footer__connect-span {
font-size: 16px;
padding-top: 20px;

}

.footer__links {
  display: flex;
  gap: 15px;
  width: 30%;
  flex-wrap: wrap;
  padding-left: 8%;
}

.footer__item {
  color: #ffff;
  font-family: 'IBMPlexSans';
  font-size: 14px;
  font-weight: 400;
  line-height: 130%;
  cursor: pointer;
}


@media screen and (max-width: 1024px) {
  .footer {
    padding: 28px 37px;
  }
}

@media screen and (max-width: 760px) {
  .footer {
    flex-direction: column;
    gap: 27px;
  }

}

@media screen and (max-width: 400px) {
  .footer {
    padding: 40px 15px;
  }
}