.footer {
    background-color: #191919;
    padding: 48px 64px;
    display: flex;
    justify-content: space-between;
}

.footer__links {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.footer__item {
    font-size: 14px;
    font-weight: 400;
    line-height: 18.2px;
    color: #E8E8E8;
    text-decoration: none;
    cursor: pointer;
}

.footer__contacts {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.footer__copyright {
    font-size: 14px;
    font-weight: 400;
    line-height: 18.2px;
    color: #E8E8E8;
    margin: 0;
    padding: 0;
    margin-left: auto;
}


@media screen and (max-width: 1024px) {
    .footer {
        padding: 28px 37px;
    }
}

@media screen and (max-width: 760px) {
    .footer {
        flex-direction: column;
        gap: 27px;
    }

    .footer__copyright {
        margin-left: 0;
    }
}

@media screen and (max-width: 400px) {
    .footer {
        padding: 40px 15px;
    }

}