.catalog-item {
    width: 301px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.catalog__img-container {
    width: 301px;
    height: 190px;
    border: 1px solid #E8E8E8;
    background-color: #FFFFFF;
}

.catalog-item__img {
    width: 100%;
    height: auto;
}

.catalog-item__title {
    text-decoration: none;
    margin: 25px 0;
    font-size: 16px;
    font-weight: 400;
    line-height: 20.8px;
    color: #191919;
    cursor: pointer;
}

.catalog-item__article {
    display: flex;
    margin-bottom: 15px;
}

.catalog-item__articke-p {
    margin: 0 20px 0 0;
    font-size: 16px;
    font-weight: 400;
    line-height: 20.8px;
    color: #858582;
}

.catalog-item__articke-copy {
    border: none;
    background-color: inherit;
    outline: none;
    background-image: url(../../../images/copy.svg);
    background-repeat: no-repeat;
    background-position: center;
    width: 26px;
    height: 26px;
    cursor: pointer;
}

.catalog-item__map-button {
    background-color: inherit;
    border: 1px solid #C4C4C4;
    border-radius: 12px;
    padding: 8px 12px;
    font-size: 16px;
    font-weight: 400;
    line-height: 20.8px;
    color: #191919;
    width: fit-content;
    cursor: pointer;
}