.catalog-item {
    width: 301px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #FFFFFF;
    padding-bottom: 20px;
}

.catalog__img-container {
    width: 301px;
    height: 190px;
    border: 2px solid rgba(232, 232, 232, 1);
    background-color: #FFFFFF;
    overflow: hidden;
}

.catalog-item__img {
    width: 100%;
    height: auto;
}

.catalog-item__title {
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
    line-height: 20.8px;
    color: rgba(25, 25, 25, 1);
    cursor: pointer;
    padding: 15px;
    height: 1.8em;
    overflow: hidden; /* Обязательно нужно добавить overflow: hidden */
    text-overflow: ellipsis;
    line-clamp: 2;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* Ограничиваем количество строк */
    -webkit-box-orient: vertical;
}


.catalog-item__article {
    display: flex;
    margin-bottom: 13px;
    position: relative;
    padding: 5px 15px;
    
}

.catalog-item__articke-p {
    margin: 0 20px 0 0;
    font-size: 16px;
    font-weight: 400;
    line-height: 20.8px;
    color: #858582;
}

.catalog-item__articke-copy {
    border: none;
    background-color: inherit;
    outline: none;
    background-image: url(../../../images/copy.svg);
    background-repeat: no-repeat;
    background-position: center;
    width: 26px;
    height: 26px;
    cursor: pointer;
}

.catalog-item__copied {
    position: absolute;
    bottom: 0;
    right: 2%;
    padding: 4px 6px;
    border-radius: 20px;
    font-size: 16px;
    font-weight: 400;
    line-height: 20.8px;
    color: #858582;
}

.catalog-item__map-button {
    background-color: inherit;
    border: 1px solid #C4C4C4;
    border-radius: 12px;
    padding: 8px 12px;
    font-size: 16px;
    font-weight: 400;
    line-height: 20.8px;
    color: #191919;
    width: fit-content;
    cursor: pointer;
    margin-left: 15px;
}

@media screen and (max-width: 760px) {
    .catalog-item {
        width: 168px;
        margin-bottom: 10px;
    }

    .catalog__img-container {
        width: 168px;
        height: 115px;
        margin-bottom: 8px;
    }

    .catalog-item__img {
        width: 100%;
        height: auto;
    }

    .catalog-item__title {
        font-size: 14px;
        font-weight: 400;
        line-height: 18.2px;
        margin-top: 0;
        margin-bottom: 0;
    }

    .catalog-item__articke-p {
        margin: 5 15px 0 0;
        font-size: 14px;
        line-height: 18.2px;
    }

    .catalog-item__articke-copy {
        background-size: 20px;

    }

    .catalog-item__map-button {
        padding: 5px 14px;
    }
}