.catalog-item {
    width: 301px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.catalog__img-container {
    width: 301px;
    height: 190px;
    border: 1px solid #E8E8E8;
    background-color: #FFFFFF;
    margin-bottom: 10px;
}

.catalog-item__img {
    width: 100%;
    height: auto;
}

.catalog-item__title {
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
    line-height: 20.8px;
    color: #191919;
    cursor: pointer;
    margin-top: 15px;
    margin-bottom: 13px;
}

.catalog-item__article {
    display: flex;
    margin-bottom: 13px;
    position: relative;
}

.catalog-item__articke-p {
    margin: 0 20px 0 0;
    font-size: 16px;
    font-weight: 400;
    line-height: 20.8px;
    color: #858582;
}

.catalog-item__articke-copy {
    border: none;
    background-color: inherit;
    outline: none;
    background-image: url(../../../images/copy.svg);
    background-repeat: no-repeat;
    background-position: center;
    width: 26px;
    height: 26px;
    cursor: pointer;
}

.catalog-item__copied {
    position: absolute;
    top: 3%;
    right: 3%;
    padding: 4px 6px;
    border-radius: 20px;
    border: 1px solid #C4C4C4;
    font-size: 16px;
    font-weight: 400;
    line-height: 20.8px;
    color: #858582;
}

.catalog-item__map-button {
    background-color: inherit;
    border: 1px solid #C4C4C4;
    border-radius: 12px;
    padding: 8px 12px;
    font-size: 16px;
    font-weight: 400;
    line-height: 20.8px;
    color: #191919;
    width: fit-content;
    cursor: pointer;
}

@media screen and (max-width: 760px) {
    .catalog-item {
        width: 168px;
        margin-bottom: 10px;
    }
    
    .catalog__img-container {
        width: 168px;
        height: 115px;
        margin-bottom: 8px;
    }
    
    .catalog-item__img {
        width: 100%;
        height: auto;
    }
    
    .catalog-item__title {
        font-size: 14px;
        font-weight: 400;
        line-height: 18.2px;
        margin-top: 0;
        margin-bottom: 0;
    }
    .catalog-item__articke-p {
        margin: 5 15px 0 0;
        font-size: 14px;
        line-height: 18.2px;
    }

    .catalog-item__articke-copy {
        background-size: 20px;

    }

    .catalog-item__map-button {
        padding: 5px 14px;
    }
}