.partner {
    border-bottom: 1px solid hsl(0, 0%, 91%);
    padding: 12px 24px 14px 62px;
    box-sizing: border-box;
}

.partner:hover {
    cursor: pointer;
    background-color: #F5F5F5;
}

.partner__tag {
    color: #1347FF;
}

.partner__engines {
    color:  #1347FF;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
    margin-top: 0;
    margin-bottom: 9px;
}

.partner__engines-dot {
    display: inline-block;
    width: 4px;
    height: 4px;
    background-color: #1347FF;
    border-radius: 50%;
    margin: 0 4px 2px 4px;
    text-align: center;
}

.partner__name {
    color: #191919;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 31.2px;
    margin-top: 5px;
    margin-bottom: 0;
}

.partner__contacts {
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0;
    align-items: center;
}

.partner__address {
    color: #191919;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
    margin: 10px 0; 
}

.partner__phone {
    display: flex;
    justify-content: center;
    color: #1347FF;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
    height: 30px;
    text-decoration: none;
    cursor: pointer;
    padding: 0;
    margin-right: 15px;
    text-align: center;
    align-content: center;
}

.partner__website {
    color: #1347FF;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
    text-decoration: none;
    cursor: pointer;
    padding: 0;
}

.partner__block {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: end;
}

.partner__open {
    padding-left: 30px;
    background-image: url('../../images/Icon-time.svg');
    background-position: top left;
    background-repeat: no-repeat;
}

.partner__open-time {
    margin: 0 0 7px 0;
}

.route-button {
    border-radius: 12px;
    border: 1px solid #7D9AFF;
    padding: 6px 10px 6px 30px;
    background-image: url('../../images/Icon-way.svg');
    background-position: 7px 4px;
    background-repeat: no-repeat;
    color: #1347FF;
    font-family: "IBM Plex Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
    background-color: inherit;
    height: 33px;
    width: 120px;
    cursor: pointer;
    margin-bottom: 10px;
}

@media screen and (max-width: 1024px) {
    .partner {
        max-width: 462px;
        padding: 16px 20px 20px 36px;
    }
}

@media screen and (max-width: 760px) {
    .partner {
        min-width: 100%;
        border-bottom: 1px solid #e8e8e8;
        padding: 20px 16px;
    }

    .partner__engines {
        color: #1347FF;
    }

    .partner__engines-dot {
        width: 4px;
        height: 4px;
        background-color: #1347FF;
    }

    .partner__tag {
        color: #858582;;
    }

    .partner__name {
        font-size: 22px;
        font-style: normal;
    }

    .partner__contacts {
        flex-direction: column;
        align-items: start;
    }

    .partner__phone {
        background-image: none;
        margin-right: 0;
        padding: 5px;
    }

    .partner__website {
        padding: 5px;
        background-image: none;

    }

    .partner__open {
        padding-left: 4px;
        background-image: none;
    }

    .route-button {
        padding: 4px;
        background-image: none;
    }
}