.error {
    width: 100%;
    height: 86vh;
    place-content: center;
    place-items: center;
    background-color: #F5F5F5;
}

.error__code {
    font-size: 128px;
    font-weight: 600;
    line-height: 166.4px;
    text-align: center;
    color: #1347FF;
    margin: 30px;
}

.error__subtitle {
    font-size: 20px;
    font-weight: 500;
    line-height: 28px;
    text-align: center;
    color: #191919;
    margin-bottom: 0;
    margin-top: 10px;
}

@media screen and (max-width: 1024px) {

    .error__code {
        font-size: 96px;
        line-height: 124.8px;
        margin: 20px;
    }

    .error__subtitle {
        font-size: 20px;
        font-weight: 500;
        line-height: 28px;
        text-align: center;
        color: #191919;
    }
}

@media screen and (max-width: 460px) {

    .error__code {
        font-size: 64px;
        line-height: 83.2px;
        margin: 20px;
    }

    .error__subtitle {
        font-size: 16px;
        line-height: 20.8px;
    }
}